/* color pallete: https://coolors.co/0b3c49-64b6ac-c0fdfb-b9d6f2-fcfffd */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", sans-serif;
  color: white;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: cyan;
}

a:hover {
  color: cyan;
}

.header-container {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: #0B3C49;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  background-color: #64B6AC;
  height: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.type1 {
  display: flex;
  height: 300px;
  justify-content: space-around;
  align-items: center;
  background-color: #B9D6F2;
}

.type2 {
  display: flex;
  height: 300px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #C0FDFB;
}

.description {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  justify-content: center;
}