* {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
}

div.top-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  color: rgb(150, 150, 150);
  margin: 10px 20px;
}

.left-top-links {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.right-top-links {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.avatar {
  border-radius: 50%;
  margin-top: 8px;
}

.gLogo {
  display: flex;
  justify-content: center;
  margin-top: 125px;
}

.searchInput {
  /* change color of input border */
}

.header-container {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: #0B3C49;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header-link {
  color: white;
  font-family: "Comic Sans MS", sans-serif;
  text-decoration: none;
  margin: 0;
}

.header-link:hover {
  color: white;
  text-decoration: none;
  margin: 0;
}