div.main {
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
  background-color: #800000;
  border-radius: 22px;
}

.header-container {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: #0B3C49;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header-link {
  color: white;
  font-family: "Comic Sans MS", sans-serif;
  text-decoration: none;
  margin: 0;
}

.header-link:hover {
  color: white;
  text-decoration: none;
  margin: 0;
}

.trigTriangle {
  border: 1px solid black;
  box-sizing: border-box;
  padding-right: 20px;
  margin-top: 30px;
  background-color: white;
}

.inputs {
  background-color: white;
  width: 200px;
  margin: auto;
  box-sizing: border-box;
  border: 1px solid black;
  padding-bottom: 15px;
  padding-top: 5px;
}

body {
  margin: 0;
  background-image: url("../../media/mathclass.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}