* {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body, div, h1, p, h3 {
  margin: 0;
}

body {
  background-color: navy;
}

div.main {
  width: 818px;
  height: 810px;
  background-color: white;
  margin: auto;
}

div.content {
  display: flex;
  flex-direction: row;
}

div.column1 {
  padding-left: 1px;
}

div.contentItem {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.contentItem.mspaint {
  background-color: yellow;
}

div.contentItem.googol {
  background-color: blue;
}

hr {
  margin: 0;
  height: 10px;
  color: black;
  background-color: black;
}

.pageheader {
  background-color: lightgrey;
  padding: 12px 24px;
}

.header-container {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: #0B3C49;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link {
  color: white;
  font-family: "Comic Sans MS", sans-serif;
  text-decoration: none;
}

.header-link:hover {
  color: white;
  text-decoration: none;
}