body {
  background-image: url("media/yellow-lined-paper.jpg");
}

div {
  width: 600px;
  background-color: white;
  border-radius: 30px;
  padding: 20px 150px;
  margin: auto;
  box-shadow: 4px 4px grey;
}

img.crayons {
  width: 600px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
}

h2, p, ul {
  font-family: "Laila", sans-serif;
}
