* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

canvas {
  display: flex;
  border: 1px solid grey;
  margin: auto;
  margin-top: 40px;
}

.header-container {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: #0B3C49;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link {
  color: white;
  font-family: "Comic Sans MS", sans-serif;
  text-decoration: none;
}

.header-link:hover {
  color: white;
  text-decoration: none;
}